<%-include("../includes/header.ejs", {title:"Program - View All"}); %>
<br />
<br />
<a href="/projTwo/About">About Us</a>
<br />
<br />
<h1>Programs</h1>


<% if(locals.success) {%>
  <div class="col-mid-12">
    <dif id="message" class="alert alert_sucess col-md-4">
      <%for(var i=0; persons.length > i; i++) {%>

        <%=persons[i]%> was sucessfully saved.
      <%}%>
    </div>
  </div>
  <% } %>


<form action="/projTwo/getPeopleFitting" method = "get">
  Greater than
  <input id="contributions_number" name="contributions_number" type="text" />
  lines of code in contributions

    <input type="submit" />

</form>
<br />
<br />

<button onclick="event.preventDefault();window.location.href='/projTwo/addProgramLanguageStyle'">Add New Program Language Style</button>
<br />
<br />
<table border="1">
    <th>program</th><th>Actions</th></tr>

    <%for(var i=0; programs.length > i; i++) {%>
    <tr>
        <td><a href = "/projTwo/?program_id=<%=programs[i].program_id%>"><%=programs[i].program_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/projTwo/addUser/?program_id=<%=programs[i].program_id%>'">Add User</button>

        </td>
    </tr>
    <% } %>
</table>

<br />
<br />
Subquery:
<br />
<table border="1">
  <tr><th>programs that are procedural</th></tr>
  <% for(var i=0; subquery.length > i; i++ ) {%>
  <tr>
      <td><%= subquery[i].program_name %></td>
  </tr>
  <% } %>
</table>


<%- include("../includes/footer.ejs");%>
