<%-include("../includes/header.ejs", {title:"Program - View All"}); %>

<h1>Programs</h1>

<form action="/projTwo/getPeopleFitting" method = "get">
    Search Name<input id="contributions_number" name="contributions_number" type="text" />

    <br />
    <br />


    <br />
    <br />
    <input type="submit" />

</form>

<br />
<br />

<button onclick="event.preventDefault();window.location.href='/projTwo/addProgramLanguageStyle'">Add New Program Language Style</button>
<br />
<br />
    <table border="1">
        <th>program</th><th>Actions</th></tr>

        <%for(var i=0; programs.length > i; i++) {%>
        <tr>
            <td><a href = "/projTwo/?program_id=<%=programs[i].program_id%>"><%=programs[i].program_name %></a></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/projTwo/addUser/?program_id=<%=programs[i].program_id%>'">Add User</button>

            </td>
        </tr>
        <% } %>
    </table>
<%- include("../includes/footer.ejs");%>
